<div id="forgot-modal" class="modal-overlay">
    <div class="modal-content">
        <span class="close-modal" id="close-forgot">&times;</span>
        <h2>Reset Password</h2>
        <p>Nhập email của bạn để nhận liên kết đặt lại mật khẩu.</p>
        <form id="forgot-form">
            <div class="input-group">
                <input type="email" id="forgot-email" required placeholder="name@example.com">
            </div>
            <button type="submit" class="btn-signup-main">Gửi link</button>
        </form>
    </div>
</div>